header {
	width: 100%;
	nav {
		display: flex;
		padding: 30px 50px;
		width: 100%;
		//background-color: green;
		justify-content: space-between;
		.header-title {
			.site-logo {
				margin-right: 10px;
				a {
					img {
						width: 100%;
						height: 45px;
					}
				}
			}
			.site-info {
				.site-title {
					font-size: 30px;
					margin-bottom: 3px;
				}
				.site-description {
					font-weight: 300;
					font-size: 15px;
				}
			}
		}

		.header-menu {
			ul {
				display: flex;
				a {
					margin: 0 10px;
					li {
						list-style: none;
						padding: 0 5px;
					}
				}
			}
		}
	}
}
