$menuitem-color: #fff;
$menuitem-hover-color: yellow;

header {
	width: 100%;
	padding: 30px 50px;
	width: 100%;
	.navbar {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.header-title {
			.site-logo {
				margin-right: 10px;
				a {
					img {
						width: 100%;
						height: 45px;
					}
				}
			}
			.site-info {
				.site-title {
					font-size: 30px;
					margin-bottom: 3px;
				}
				.site-description {
					font-weight: 300;
					font-size: 15px;
				}
			}
		}

		.header-menu {
			.orissa-nav-menu-icon {
				cursor: pointer;
				font-size: 40px;
			}
		}

		.header-modal {
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: #000;
			overflow: scroll;
			transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
			.header-modal-title {
				position: relative;
				width: 50%;
				top: 30px;
				color: #fff;
				margin: 5px 35px;
				.modal-site-title {
					color: $menuitem-hover-color;
					font-size: 45px;
				}
				.modal-site-description {
					font-weight: 200;
					font-size: 18px;
				}
			}

			.orissa-theme-menu-close {
				position: absolute;
				top: 30px;
				right: 50px;
				cursor: pointer;
				font-size: 40px;
				color: $menuitem-color;
				&:hover {
					color: $menuitem-hover-color;
				}
			}

			nav {
				position: relative;
				margin-top: 80px;
				ul {
					li {
						font-size: 70px;
						list-style: none;
						margin: 5px 35px;
						overflow: hidden;

						a {
							color: $menuitem-color;
							text-decoration: none;
							transition: 0.15s all ease-in-out;
							&:hover {
								color: $menuitem-hover-color;
							}
						}
						span {
							i {
								font-size: 40px;
								cursor: pointer;
								margin-left: 10px;
								transition: 0.25s all ease;
								color: $menuitem-color;
								&:hover {
									color: $menuitem-hover-color;
								}
							}
							i.rotate-chevron {
								transform: rotate(180deg);
							}
						}
					}
				}

				.nav-item-toggle-btn + ul {
					max-height: 0;
					overflow: hidden;
					transition: 0.3s all ease;
				}

				ul.show-dropdown {
					max-height: 4000px;
				}
			}
		}
	}
}
