.search-results {
	#site-content {
		& > * {
			margin: 0 auto;
			max-width: 600px;
		}
		.search-result-header {
			padding: 2em 0 0 0;
			width: 100%;
			&__title {
				margin: 0 auto;
				text-align: left;
				font-weight: 800;
				font-size: 60px;
				margin-bottom: 30px;
				margin-top: 30px;
				letter-spacing: -1.5px;
			}
			p {
				font-size: 20px;
			}
		}
	}
}
