/** === Blog Page and Blog (Posts/Pages) Preview Card Styles === */

#site-content {
	margin: 0 auto;
	overflow: hidden;
	font-family: $font__primary;
	/** === Blog Page Title === */
	.page-title {
		width: $content__width;
		margin: 30px auto;
		color: #000;
		font-size: 5rem;
		font-weight: $font__weight-heading;
		line-height: 1.7em;
		letter-spacing: $heading-letter-spacing;
	}
	/** === Blog Page Container === */
	.posts-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		//background-color: cadetblue;
		/** === Blog (Posts/Page) Preview Card === */
		.post-preview-card {
			margin: 0 auto;
			opacity: 0;
			transform: translateY(-4%);
			width: $content__width;
			margin: 15px 0;

			.post-card__header {
				position: relative;
				cursor: pointer;
				img {
					cursor: pointer;
					width: 100%;
					height: 100%;
					transition: 0.3s transform ease;
				}

				&:hover + .post-card__info {
					a {
						.post-card__title {
							color: red;
						}
					}
				}
			}

			.post-card__info {
				width: 100%;
				.post-card__title {
					width: 100%;
					font-size: 2rem;
					padding: 15px 0;
					transition: 0.13s all ease;
					overflow: hidden;
					text-overflow: ellipsis;
					font-family: $font__heading;
					font-weight: $font__weight-heading;
					font-size: $font__size--lg;
					letter-spacing: $heading-letter-spacing;
					a {
						width: 100%;
						color: black;
						overflow: hidden;
						text-overflow: ellipsis;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.post-card__description {
					font-family: $font__content;
					font-weight: $font__weight-body;
					font-size: $font__size--xsm;
					padding-bottom: 15px;
					p {
						margin-bottom: 2px;
					}
				}
				.posted-on {
					padding-bottom: 5px;
					a {
						color: blueviolet;
					}
				}
				.author-container {
					a {
						color: navy;
					}
				}
			}
		}
	}

	.orissa-pagination-wrapper {
		display: flex;
		margin: 0 auto;
		max-width: $content__width;
		padding: 4em 0 6em 0;
		.orissa-pagination {
			margin: 0 auto;
			.page-numbers {
				margin-right: 5px;
				padding: 5px 9px;
				color: #000;
				background-color: $white;
				border-color: $gray;
				border: 1px solid $gray;
				border-radius: 3px;
			}
			.current {
				color: #fff;
				background-color: $gray;
			}
		}
	}
}

/* @media screen and (max-width: 1200px) {
	#site-content {
		.posts-container {
			padding: 15px $site-horizontal-padding-1200;
			.post-preview-card {
				width: 48%;
			}
		}
	}
} */

@media screen and (max-width: 800px) {
	#site-content {
		.page-title {
			height: 100px;
			font-size: 40px;
		}
		.posts-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 15px $site-horizontal-padding-800;
			.post-preview-card {
				width: 100%;
				display: inline-block;
				margin: 20px 0px;

				.post-card__info {
					margin: 5px 0;

					.post-card__title {
						font-size: 23px;
						padding: 5px 0;
						a {
							color: black;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
