/** === Header Navigation === */

header {
	width: 100%;
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: $content__width;
		margin: 2em auto 1em auto;

		.orissa-search-icon {
			cursor: pointer;
			font-size: 25px;
		}

		.header-title {
			.site-info {
				display: flex;
				align-items: center;
			}
			.site-logo {
				margin-right: 10px;
				a {
					img {
						width: 100%;
						height: 45px;
					}
				}
			}
			.site-name {
				.site-title {
					text-align: center;
					letter-spacing: $heading-letter-spacing;
					a {
						text-decoration: none;
					}
					font-size: 40px;
					font-weight: 600;
				}
			}
			.site-description {
				text-align: center;
				margin-left: 7px;
				margin-bottom: 7px;
				font-weight: 400;
				font-size: 16px;
			}
		}

		.orissa-nav-menu-icon {
			cursor: pointer;
			font-size: 30px;
		}

		/** === Header Navigation Modal === */

		.header-modal {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 999;
			padding: 0 35px;
			overflow: scroll;
			transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);

			.header-modal-content {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 20vh;

				.header-modal-title {
					position: relative;
					top: 30px;
					color: #fff;
					.modal-site-title {
						margin: 5px 15px;
						font-size: 3em;
						font-weight: 500;
						a {
							color: $yellow;
							text-decoration: none;
						}
					}
					.modal-site-description {
						font-weight: 200;
						font-size: 18px;
					}
				}

				.orissa-theme-menu-close {
					position: absolute;
					z-index: 10;
					top: 30px;
					right: 60px;
					cursor: pointer;
					font-size: 35px;
					color: $white;
					&:hover {
						color: $yellow;
					}
				}

				nav.header__main-nav {
					position: relative;
					padding-bottom: 5rem;

					ul.main-menu {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						margin: 0;
						li.menu-item {
							font-size: $font__size--md;
							text-align: center;
							list-style: none;
							margin: 8px 0;
							overflow: hidden;
							line-height: 1.3em;

							a {
								color: $white;
								text-decoration: none;
								transition: 0.15s all ease-in-out;
								&:hover {
									color: $yellow;
								}
							}
							span {
								i {
									font-size: $font__size--sm;
									cursor: pointer;
									margin-left: 10px;
									transition: 0.25s all ease;
									color: $white;
									&:hover {
										color: $yellow;
									}
								}
								i.rotate-chevron {
									transform: rotate(180deg);
								}
							}
							ul.dropdown-menu {
								margin: 0;
							}
						}
					}

					.nav-item-toggle-btn + ul {
						max-height: 0;
						overflow: hidden;
						transition: 0.3s all ease;
					}

					ul.show-dropdown {
						max-height: 4000px;
					}
				}
			}
		}

		/** === Search Overlay === */

		.search-modal-overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			opacity: 0;
			pointer-events: none;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 1;
			transition: 0.3s all ease-in;
		}

		/** === Search Modal === */

		.search-modal {
			position: fixed;
			top: -100%;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 135px;
			overflow: scroll;
			transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
			overflow: hidden;
			.search-from {
				position: relative;
				width: 100%;
				color: #fff;
				margin: 0;

				input {
					margin-top: 20px;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					width: 95%;
					outline: none;
					font-size: $font__size--lg;
					padding: 10px 0px;
					background-color: transparent;
					color: #fff;
					border-color: #fff;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					transition: 0.5s all ease;
					&:focus {
						border-color: $yellow;
					}
				}
			}
			.orissa-theme-search-close {
				position: absolute;
				top: 50%;
				transform: translateY(-70%);
				z-index: 10;
				right: 3%;
				cursor: pointer;
				font-size: $font__size--md;
				color: $white;
				&:hover {
					color: $yellow;
				}
			}
		}
	}
}

/* @media screen and (max-width: 1200px) {
	header {
		width: 100%;
		.navbar {
			padding: 20px $site-horizontal-padding-1200;
		}
	}
}

@media screen and (max-width: 800px) {
	header {
		width: 100%;
		.navbar {
			padding: 20px $site-horizontal-padding-800;
			.header-title {
				.site-logo {
					margin-right: 10px;
					a {
						img {
							width: 100%;
							height: 45px;
						}
					}
				}
				.site-info {
					display: flex;
					align-items: flex-end;
					.site-title {
						font-size: $font__size--lg - 6px;
					}
					.site-description {
						display: none;
					}
				}
			}

			.header-menu {
				.orissa-search-icon {
					font-size: 24px;
				}
				.orissa-nav-menu-icon {
					font-size: 26px;
				}
			}

			.header-modal {
				padding: 0 20px;

				.header-modal-content {
					.header-modal-title {
						position: relative;
						top: 30px;
						color: #fff;
						.modal-site-title {
							margin: 5px 10px;
							font-size: 30px;
						}
					}

					.orissa-theme-menu-close {
						top: 35px;
						right: 30px;
						font-size: 25px;
					}

					nav {
						position: relative;
						margin: 40px 0;
						margin-top: 50px;

						ul {
							li {
								font-size: 25px;
								margin: 0px 10px;
								span {
									i {
										font-size: 18px;
									}
								}
							}
						}

						.nav-item-toggle-btn + ul {
							max-height: 0;
							overflow: hidden;
							transition: 0.3s all ease-in-out;
						}

						ul.show-dropdown {
							max-height: 4000px;
						}
					}
				}

				.search-modal {
					height: 100px;
					.search-from {
						input {
							margin-top: 20px;
							font-size: 30px;
						}
					}
					.orissa-theme-search-close {
						top: 52%;
						font-size: 25px;
						color: $white;
						&:hover {
							color: $yellow;
						}
					}
				}
			}
		}
	}
}
 */
